modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
integrations = ["javascript_database:1.0.0", "javascript_mem_db:1.0.0", "javascript_auth_all_persistance:1.0.0", "javascript_openai:1.0.0", "javascript_log_in_with_replit:1.0.0", "javascript_gemini:1.0.0", "javascript_xai:1.0.0"]

[userenv]

[userenv.shared]
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = "587"
SMTP_USER = "muzamil1122112211221122@gmail.com"
SMTP_PASSWORD = "rfxlhzbryhhwqqvz"
SMTP_FROM = "muzamil1122112211221122@gmail.com"
GROQ_API_KEY_2 = "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"
VITE_SUPABASE_URL = "https://xywgypgivfppxngketfr.supabase.co"
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh5d2d5cGdpdmZwcHhuZ2tldGZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM1MTYwOTIsImV4cCI6MjA5OTA5MjA5Mn0.UpG9PMrAd4iVyWRJBtUBqf0pEYEC604g1oLVAKmHxjU"
